@import "bootstrap4/bootstrap";
@import "fa/scss/fontawesome";
@import "fa/scss/regular";
@import "fa/scss/solid";
@import "fa/scss/light";
@import "fa/scss/duotone";


// @import "fonts";

body {
    line-height: 1.78;
    margin: auto;
    font-family: 'Helvetica', sans-serif;
    font-size: 14px;
    font-weight: 400;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    color: #202121;
    letter-spacing: .02em;
    background-color: #f3f3f6;
}

a {
    color: #566985;
}

.text-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.page-wrap {
    position: relative;
    overflow: hidden;
    transform: none;
}

.v-overlay {
    background-color: rgba(37, 44, 65, .29);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

.page-wrap {}

.page-wrap>header {
    background-color: transparent;
    color: #e7e7ed;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    padding: 25px;
}

.page-wrap>header .logo {
    float: left;
    width: 25%;
}

.page-wrap>header .v-nav_wrapper {
    text-align: right;
}

.page-wrap>header .v-nav_wrapper nav {
    display: inline-block;
}

.page-wrap>header .v-nav_wrapper nav>ul {
    display: inline-block;
    margin: 0;
    padding: 3px;
    vertical-align: middle;
    height: auto;
}

.page-wrap>header .v-nav_wrapper nav ul li {
    list-style: none;
    display: inline-block;
    position: relative;
    top: 2px;
}


.page-wrap>header .v-nav_wrapper nav ul li>a {
    font-size: 0.9rem;
    font-weight: bold;
    padding: 0 10px;
    color: #FFF;
    line-height: 2.2rem;
    vertical-align: middle;
}

.page-wrap>header .v-nav_wrapper nav ul li.v-nav_buttons {
    padding-left: 15px;

}

/** home **/

.v-home {}

.v-home .v-content>header {
    height: 60vh;
    position: relative;
    z-index: 9;
    display: block;
}

.v-home .v-content>header .v-hero_img {
    position: absolute !important;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    background-image: url("https://static.vantalii.com/resize/1600/img/plaj_bg.jpg");
    background-size: cover;
    background-position: 50% 50%;
}

.v-home .align-items-center {
    min-height: 600px;
}

.v-home .v-body {
    padding-top: 10px;
}


/* list */

.v-list {}

.v-list .v-content>header {
    height: 300px;
    position: relative;
    z-index: 9;
    display: block;
}

.v-list .v-content>header .v-hero_img {
    position: absolute !important;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    background-image: url("https://static.vantalii.com/img/plaj_bg.jpg");
    background-size: cover;
    background-position: 50% 50%;
}

.v-list .align-items-center {
    height: 385px;
}

.v-list .v-body {
    padding-top: 40px;
}

.v-list h1 {
    font-size: 2.4rem;
    color: #FFF;
    margin: 30px 5px 0 5px;
}


/* form */
.v-form {
    border: 10px solid rgba(221, 221, 221, 0.5);
    border-radius: 80px;

}

.v-form input {
    margin-right: 18px;
    font-size: 18px;
    padding-top: 2px;
}

.v-form_nav {
    margin-left: 45px !important;
}

.v-form_nav li {
    display: inline-block;
    margin-right: 10px;
    color: #FFF;
    font-weight: bold;
    background: rgba(221, 221, 221, 0.1);
    border: 1px solid transparent;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 5px;
}

.v-form_nav li.active {
    background: rgba(221, 221, 221, 0.5) !important;
}

.v-form_nav li i {
    margin-right: 0px !important;
}

.v-form_nav li button {
    background: transparent;
    border: none;
    color: #FFF;
    font-weight: bold;

}

.v-form .v-form_inner {
    background-color: #fff;
    height: 65px;
    width: 100%;
    border-radius: 80px;
}

.v-form .v-form_inner>div {
    display: inline-block;
    position: relative;
}

.v-form .v-form_inner>div i {
    position: relative;
    top: 3px;
    left: 2px;
    color: #FF505F;
    font-size: 1.3rem;
    width: 25px !important;
}

.v-form .v-form_inner>div:first-child i {
    left: 10px;
    width: 24px;

}


.v-form .v-form_inner .region>div,
.v-form .v-form_inner .search>div,
.v-form .v-form_inner .time>div {
    display: inline-block;
    width: calc(100% - 30px);
}

.v-form .v-form_inner .search input,
.v-form .v-form_inner .region input,
.v-form .v-form_inner .time input {
    height: 65px;
    font-size: 14px;
    width: 100%;
    background-color: transparent;
    padding-left: 5px;
}

.v-form .v-form_inner.place-search .search {
    width: 46%
}

.v-form .v-form_inner.place-search .region {
    width: 35%;
}

.v-form .v-form_inner.place-search .region input {
    width: 92%;
}

.v-form input,
select,
textarea {
    margin: 0;
    border: none;
    vertical-align: baseline;
    font-size: 100%;
    font-weight: 400;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    height: 45px;
}

.v-form .v-button {
    float: right;
    width: 190px;
}

.v-form .v-button .btn-submit {
    padding: 0;
    height: 65px;
    line-height: 65px;
    width: 100%;
    background-color: #FF8F2E;
    border-radius: 45px;
    color: #fff;
    font-size: 16px;
    padding: 0 35px;
    text-transform: uppercase;
    letter-spacing: 0.08em;
    box-shadow: 3px 3px 11px rgba(0, 167, 234, 0.25);
    order: 0px solid;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    font-weight: bold;
    border: #FF8F2E 1px solid;
}

.v-form .v-form_inner.event-search .search {
    width: 30.2%;
}

.v-form .v-form_inner.event-search .region {
    border-right: 1px solid #dddddd;
    width: 25%;
}

.v-form .v-form_inner.event-search .time {
    width: 31%;
}

.v-form .v-form_inner.event-search .search input {}

.v-form .v-form_inner.event-search .region input {
    // width: 62% !important;
}

.v-form .v-form_inner.event-search .time input {
    // width: 62% !important;
}

.v-form .event-search .v-button {
    width: 120px;
}

@media screen and (max-width: 991px) {
    .v-form {
        border-radius: 24px;
    }

    .v-form .v-form_inner {
        background-color: #fff;
        width: 100%;
        border-radius: 8px;
        height: 100%;
    }

    .v-form .v-form_inner>div {
        display: block !important;
        width: 100% !important;
        float: none !important;
    }

    .v-form .v-form_inner .search {
        border-right: 0px solid;
        max-width: 100%;
        border-bottom: 1px solid #DDDDDD;
    }

    .v-form .v-form_inner>div input {
        width: 85%;
    }

    .v-form .v-button .btn-submit {
        border-radius: 8px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

    .pt-searchForm {
        padding-top: 100px !important;
        min-height: inherit !important;

    }
}



/* .common */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
    line-height: 1.4em;
    color: #252c41;
    font-family: Poppins, sans-serif;
}

h1 {
    font-size: 20px;
}

.btn {
    border: 1px solid #e7e7ed;
    color: #333;
    background-color: transparent;
    padding: 3px;
    min-width: 90px;
    border-radius: 3px;
    font-size: 0.8rem;
}

.btn i {
    font-size: 1.2rem;
    position: relative;
    top: 4px;
    margin-right: 5px;
}

.btn.btn-white {
    background: #FFF;
    color: #333
}

.btn.btn-language {
    background: transparent;
    color: #FFF;
}

.btn.btn-menu {
    border: none;
    color: #FFF;
    position: absolute;
    right: 0;
    margin-right: -20px;
    top: 10px;
    display: none;
}

.btn.btn-menu i {
    font-size: 1.8rem;
    top: 0;
}

.btn.btn-action {
    border: none;
    font-family: inherit;
    font-size: inherit;
    color: #fff;
    background: #e04f67;
    cursor: pointer;
    padding: 12px 20px;
    outline: none;
    font-size: 12px;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-transform: uppercase;
    font-weight: 700;
    display: block;
    text-align: center;
}

.btn.btn-block {
    width: 100%;
}

.bg-cover {
    background-size: cover;
    background-position: 50% 50%;
}

.v-after::after,
.v-before::before {
    content: " ";
    display: table;
}

.relative {
    position: relative;
}

.mx--1 {
    margin-left: -30px;
    margin-right: -30px;
}

ul.list-inline {
    padding: 0;
}

ul.list-inline li {
    display: inline-block;
    list-style: none;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
}

.table th,
.table td {
    padding: 0.5rem;
    vertical-align: top;
}

.table thead th {
    vertical-align: bottom;
}


.js-sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9;
}

/* */
.text-bold {
    font-weight: bold;
}

ul.list {
    margin: 0;
    padding: 0;
}

ul.list li {
    list-style: none;
}

// ul.list li i {
//     font-size: 1rem;
//     margin-right: 10px;
//     position: relative;
//     top: 3px;
// }

ul.list li a {}

/** footer **/
footer.v-footer {
    position: relative;
    z-index: 99;
    background-color: #252c41;
    color: #FFF;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
	padding-top: 15px;
	h5 {
		color: #FFF;
	}
	
	a {
		color: #FFF;
	}
	
	ul {
		padding-inline-start: 10px;
		li {
			margin:0;
			list-style: none;
			padding:3px;
		}
	}
}