@import "common";


#search-box {
    padding: 50px 0 30px 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    position: relative;
    #search-form {
        h1.box-title {
            color: $primary;
            font-size: 2.375rem;
            line-height: 4.2rem;
            margin-bottom: 0;
            margin-left: 0;
            font-weight: bold;
        }

        h2.box-desc {
            color: $primary;
            font-size: 1rem;
            font-weight: bold;
            margin: 0 0 10px 0 !important;
        }

        .date-time-picker {
            margin-bottom: 15px;

            .field-input {
                border: 1px solid #FFF !important;
                font-size: 16px !important;
            }

            .custom-button {
                padding: 0;
            }
        }

        .multiselect {
            margin-bottom: 15px;

            .multiselect__tags {
                border: 1px solid #FFF !important;

            }

            .multiselect__tag {
                background-color: $primary !important;
            }

            .multiselect__tag-icon:focus,
            .multiselect__tag-icon:hover {
                background-color: $primary !important;
            }

        }

        .btn-search {
            margin-bottom: 15px;
            font-weight: bold;
            padding: 10px;
            float: right;
        }

    }
}

.mobile-hide {
    @media screen and (max-width: 768px) {
        display: none !important;
    }
}

.desktop-hide {
    @media screen and (min-width: 769px) {
        display: none !important;
    }
}

.badge.event-begin {
    font-size: 0.85rem;
    padding: 3px;
    position: absolute;
    right: 5px;
    top: 5px;
    background-color: chartreuse;
}

.badge.event-begin.allday {
    background-color: aquamarine;
}

.duration {
    font-size: 0.7rem;
    padding: 3px;
    position: absolute;
    right: 5px;
    top: 22px;

    i {
        font-size: 0.6rem;
    }

}

.days-menu {
    position: relative;
    text-align: center;
    width: 100%;
    height: 32px;
    margin-top: 10px;
    padding-top: 6px;

    >span {
        border: 1px solid #e4e4e4;
        border-radius: 5px;
        background: #fff;
        transition: all 0.3s ease-out;
        box-sizing: border-box;
        padding: 5px;
        height: 32px;

    }

    #event-day-prev {
        position: absolute;
        left: 0;
        top: 0;
        border-radius: 0 !important;
        width: 32px;

    }

    #event-day-next {
        position: absolute;
        right: 0;
        top: 0;
        border-radius: 0 !important;
        width: 32px;
    }



}

.events-downlist {
    padding: 5px;
    position: relative;

    h3 {
        font-size: 0.9rem;
        margin: 5px 2;
        font-weight: bold;

        span {
            position: absolute;
            right: 5px;
            font-size: 0.7rem;
            padding-top: 2px;
            font-weight: normal;

        }
    }



    .list {
        margin: 0;
        padding: 0;

        li {
            position: relative;
            clear: both;
            width: 100%;
            float: left;
            margin-bottom: 15px;
            border: 1px solid #e4e4e4;
            border-radius: 3px;
            background: #fafafa;
            -webkit-transition: all 0.3s ease-out;
            -moz-transition: all 0.3s ease-out;
            transition: all 0.3s ease-out;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            padding: 5px;
            height: 70px;
            a {
                color: rgb(37, 44, 65);
                transition: all .3s ease;
            }
            h4 {
                font-size: 0.9rem;
                font-weight: 600;
                margin: 0;

            }

            .line-1 {

                font-size: 0.7rem;

            }

            .line-end {

                font-size: 0.7rem;
                position: absolute;
                bottom: 2px;
                min-height: 16px;
                left: 0;
                width: 98%;
                left: 2%;
            }

            .info {
                position: relative;

                .place {
                    position: absolute;

                    i {
                        font-size: 0.8rem;
                        margin-right: 3px;
                    }

                    a {
                        padding-top: 6px;
                        font-weight: bold;
                    }
                }

                .attendee {
                    position: absolute;
                    right: 50px;
                    width: 30px;

                    i {
                        margin-right: 5px;
                    }

                    span {
                        background: #f5f5f5;
                        padding: 2px;
                        border-radius: 3px;
                    }
                }

                .comment {
                    position: absolute;
                    right: 5px;
                    width: 30px;

                    i {
                        margin-right: 5px;
                    }

                    span {
                        background: #f5f5f5;
                        padding: 2px;
                        border-radius: 3px;
                    }
                }
            }
        }
    }
}