@import "common";

.v-categories .col-lg-4,
.v-categories .col-lg-8 {
    padding: 0 2px 2px 0;
}

.v-categories .v-categories_header {
    padding-top: 35px;
    padding-bottom: 15px;
    text-align: center;
}

.v-categories .v-categories_header h2 {
    font-size: 30px;
    margin: 0px;
}

.v-categories .v-categories_header .description {
    font-size: 15px;
    color: rgb(141, 141, 141);
}

.v-categories .v-category {
    height: 240px;
    background: pink;
    position: relative;
    overflow: hidden;
    padding: 15px 20px;
    color: #FFF;
}

.v-categories .v-category {
    background-position: center center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

.v-categories .v-category::before {
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    height: 50%;
    background-image: -webkit-linear-gradient(top, #323031 0%, transparent 100%);
    background-image: -o-linear-gradient(top, #323031 0%, transparent 100%);
    background-image: linear-gradient(to bottom, #323031 0%, transparent 100%);
    /* background-repeat: repeat-x; */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF323031', endColorstr='#00000000', GradientType=0);
    position: absolute;
    -webkit-transition: all .2s ease-in-out 0s;
    -o-transition: all .2s ease-in-out 0s;
    transition: all .2s ease-in-out 0s;
    opacity: 1;
    filter: alpha(opacity=100);
}

.v-categories .v-category:active::after,
.v-categories .v-category:hover::after {
    opacity: .6;
    filter: alpha(opacity=60);
}

.v-categories .v-category::after {
    width: 100%;
    height: 100%;
    position: absolute;
    background: #323031;
    -webkit-transition: all .2s ease-in-out 0s;
    -o-transition: all .2s ease-in-out 0s;
    transition: all .2s ease-in-out 0s;
    top: 0;
    left: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    content: '';
}

.v-categories {}

.v-categories .v-category .category-info-title {
    font-size: 25px;
    position: relative;
    color: #FFF;
    z-index: 4;
}

@media screen and (max-width: 991px) {
    .v-categories .v-category .category-info-title {
        padding-left: 15px;
    }
}

.v-categories .v-category .category-number {
    font-size: 15px;
    position: relative;
    z-index: 4;
    color: #FFF;


}

.v-category.airport {
    background: url(https://static.vantalii.com/resize/600/img/categories/main/AIRPORT.jpg);
}

.v-category.bar {
    background: url(https://static.vantalii.com/resize/600/img/categories/main/BAR.jpg);
}

.v-category.beach {
    background: url(https://static.vantalii.com/resize/600/img/categories/main/BEACH.jpg);
}

.v-category.cafe {
    background: url(https://static.vantalii.com/resize/600/img/categories/main/CAFE.jpg);
}

.v-category.canyon {
    background: url(https://static.vantalii.com/resize/600/img/categories/main/CANYON.jpg);
}

.v-category.fast_food {
    background: url(https://static.vantalii.com/resize/600/img/categories/main/FAST_FOOD.jpg);
}

.v-category.food_and_beverage {
    background: url(https://static.vantalii.com/resize/600/img/categories/main/FAST_FOOD.jpg);
}

.v-category.historic_site {
    background: url(https://static.vantalii.com/resize/600/img/categories/main/HISTORIC_SITE.jpg);
}

.v-category.hospital {
    background: url(https://static.vantalii.com/resize/600/img/categories/main/HOSPITAL.jpg);
}
.v-category.shopping {
    background: url(https://static.vantalii.com/resize/600/img/categories/main/MALL.jpg);
}

.v-category.mall {
    background: url(https://static.vantalii.com/resize/600/img/categories/main/MALL.jpg);
}

.v-category.marketplace {
    background: url(https://static.vantalii.com/resize/600/img/categories/main/MARKETPLACE.jpg);
}

.v-category.municipality {
    background: url(https://static.vantalii.com/resize/600/img/categories/main/MUNICIPALITY.jpg);
}

.v-category.museum {
    background: url(https://static.vantalii.com/resize/600/img/categories/main/MUSEUM.jpg);
}

.v-category.nature_and_park {
    background: url(https://static.vantalii.com/resize/600/img/categories/main/NATURE_AND_PARK.jpg);
}

.v-category.night_life {
    background: url(https://static.vantalii.com/resize/600/img/categories/main/NIGHT_LIFE.jpg);
}

.v-category.restaurant {
    background: url(https://static.vantalii.com/resize/600/img/categories/main/RESTAURANT.jpg);
}

.v-category.taxi_station {
    background: url(https://static.vantalii.com/resize/600/img/categories/main/TAXI_STATION.jpg);
}

.v-category.theather {
    background: url(https://static.vantalii.com/resize/600/img/categories/main/THEATHER.jpg);
}

.v-category.theme_park {
    background: url(https://static.vantalii.com/resize/600/img/categories/main/THEME_PARK.jpg);
}

.v-category.waterfall {
    background: url(https://static.vantalii.com/resize/600/img/categories/main/WATERFALL.jpg);
}





