@import "common";

.places {
    .hero {
        width: 100%;
        background: #FFF;

        h1 {
            font-size: 1.7rem;
            font-weight: bold;
            margin: 0;
            padding: 5px 0;
        }

        span.category {
            font-size: 0.8rem;
            padding: 5px 10px 5px 5px;
            color: #F2873F;
        }

        span.place {
            padding: 5px 10px;
            border-left: solid 1px #CCC;
            font-size: 0.8rem;
        }

        address {
            font-size: 1rem;
            margin: 10px 0;

            b {
                display: block;
            }
        }

       background: #FFF;
       width: 100%;
       border-bottom: 1px solid #e0e0e0;


       ul {
           width: 100%;
           padding: 0;
           list-style: none;
           margin: 0;
           font-size: 0.9rem;
           font-weight: 400;
           /* background-color: #fff; */

           li {

               display: inline-block;
               border: 0;
               line-height: 2.8rem;
               vertical-align: middle;
               i {
                   margin: 0 0 0 5px;
               } 
               a {   
                   padding-left: 10px;
                   padding-right: 17px;
                   text-transform: uppercase;
                   line-height: 1.4rem;
                   vertical-align: middle;
                   font-weight: bold;
                   font-size: 0.75rem;
                   color: rgb(72, 72, 72);

                   :hover {
                       color: $primary;
                   }
               }

               a.active {
                   color: $primary;

                   :hover {
                       color: rgb(72, 72, 72);
                   }
               }




           }



       }
       
    }




    .e-col {
        .date {
            background: #fff;
            padding: 14px;
            font-size: 0.8rem;
            font-weight: 500;
            /* box-shadow: 0 2px 6px 0 rgba(202,202,202,.5); */
            position: relative;
            color: #000;

            .day {
                display: inline;
            }

            .time {
                display: inline;
            }

            .working-hours {
                display: inline-block;
                padding: 4px 15px;
                border: 1px solid #e7e7ed;
                border-radius: 3px;

                span {
                    font-size: 0.8rem;
                }
            }
        }



        .contact {
            ul {
                padding: 0;
                list-style: none;
                margin: 0;

                li {
                    padding: 0 3px;

                    i {
                        margin-right: 5px;
                    }
                }
            }
        }
    }
}

.category-menu {
    background: #FFF;
    border: 1px solid #e7e7ed;
    border-radius: 5px;

    ul {
        padding-inline-start: 20px !important;
    }
}